<%
	for(var i = 0; i < data.list1.length; i++) {
		var vo = data.list1[i];
%>
		<div class="test" data-no="<%=vo.no %>" id="priority<%=vo.priority %>">
			<div class="test-top">
				<div class="title-div"><%=vo.title %></div>
				<div class="proceeding-state blinking">진행</div>
			</div>
			<div class="test-mid">
				<div class="writer">작성자 : <%=vo.nickname %></div>
			</div>
			<div class="test-bottom">
				<div class="date">테스트 : <%=vo.startTime%> - <%=vo.endTime%></div>
			</div>
		</div>
<%
	}
%>