<%
	for(var i = 0; i < data.list3.length; i++) {
		var vo = data.list3[i];
%>
		<% if(vo.privacy == 'n') { %>
			<div class="test" data-no="<%=vo.no %>" id="priority<%=vo.priority %>">
		<%} else { %>
			<div class="test" data-no="<%=vo.no %>" id="priority<%=vo.priority %>_link">
		<% } %>
		
			<div class="test-top">
				<div class="title-div"><%=vo.title %></div>
				<% if(vo.privacy == 'n') { %>
					<div class="deadline-state">마감</div>
				<%} else { %>
					<div class="deadline-state" style="color:blue">공개</div>	
				<% } %>
			</div>
			<div class="test-mid">
				<div class="writer">작성자 : <%=vo.nickname %></div>
			</div>
			<div class="test-bottom">
				<div class="date">테스트 : <%=vo.startTime%> - <%=vo.endTime%></div>
			</div>
		</div>
<%
	}
%>